

/* Vendant Pay CSS  */
/* Copyright@vendantpay.com  */
/* All the images, logo and styles used in this application is an assest of VedantPay.Com. Using these assests without permission is subjected to copyright claim and you may face legal issues.  */






.contacts-icon {
  margin-right: 10px;
}
.contact{
  display: block;
  text-align: left;
}


